   
    
    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #10221b;
    }

    ::-webkit-scrollbar-track {
        background: #fff;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }


    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 30px;
        color: #10221b;
    }

    h1 > a {
        color: #10221b;
        font-size: 25px;
        font-weight: 600;
        text-decoration: none;
    }

    h1 > a > i {
        color: #219150;
    }
    
    li > a > i:hover {
        color: #219150;
    }

    li > a {
        font-weight: 100;
        font-size: 18px;
        color: #10221b;
        text-decoration: none;
    }

    .navbar {
        position: fixed;
        z-index: 1000;
        top:0;
        background-color: transparent;
        transition: 0.1s;
        width: 82%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 9%;
    }
    
    ul{
        list-style: none;
        position: relative;
    }
    
    li {
        display: inline-block;
        padding: 0px 10px;
        color: #10221b;
    }
    
    li a:hover {
        color: #219150;
        transition: 0.2s;
    }
    
    .sticky {
        background: white;
        transition: 0.3s;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    }

    .header-text {
        position: absolute;
        right: 14%;
        bottom: 30%;
        z-index: 1000;
        text-align: start;
    }

    #header-text_2 {
        left: 10%;
    }

    #header-text_3 {
        right: 14%;
    }

    .header-text p {
        line-height: 35px;
        font-weight: 100;
    }

    .header-text h1 {
        color: #219150;
        font-size: 55px;
        font-weight: bold;
    }

    .header-text h2 {
        font-size: 40px;
        font-weight: 200;
    }

    .get_started_btn {
        padding: 10px 35px;
        background-color: transparent;
        border: 2px solid black;
        font-size: 17px;
    }

    .get_started_btn:hover {
        cursor: pointer;
        background-color: #10221b;
        color: #fff;
        transition: background-color 0.5s;
        border: 2px solid #10221b;
    }

    .content_1_wrapper {
        display: grid;
        grid-template-columns: repeat(4, 310px);
        justify-content: center;
    }

    .content_1_wrapper .content_1_item img{
        height: 190px;
        width: auto;
        border-radius: 50%;
        margin-bottom: 15px;
        transition: transform .5s, filter 1.5s ease-in-out;
    }

    .content_1_wrapper .content_1_item img:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        cursor: pointer;
    }

    .content_1_wrapper .content_1_item {
        padding: 10px;
        text-align: center;
        line-height: 33px;
    }

    .content_1 h1 {
        text-align: center;
        font-size: 40px;
    }

    .content_1_wrapper .content_1_btn {
        padding: 10px 35px;
        background-color: transparent;
        border: 2px solid black;
        font-size: 17px;
    }

    .content_1_wrapper .content_1_btn:hover {
        cursor: pointer;
        background-color: #10221b;
        color: #fff;
        transition: background-color 0.5s;
        border: 2px solid #10221b;
    }

    .content_1_wrapper .content_1_item h3 {
        color: #219150;
        font-size: 21px;
        font-weight: 700;
    }

    .content_2 {
        margin-top: 30px;
        height: 610px;
        background-color: #eee;
    }

    .content_2_wrapper {
        display: flex;
        padding: 30px 20px;
        gap: 70px;
        justify-content: center;
        align-items: center;
    }

    .content_2_item_1 {
        padding: 20px;
    }

    .content_2_item_1 img{
        width: 570px;
        -webkit-box-shadow: 2.5rem 2.5rem 0 rgb(0 0 0 / 10%);
    }

    .content_2_item {
        width: 560px;
        line-height: 35px;
    }

    .content_2_item h2 {
        color: #219150;
        font-size: 30px;
    }

    .content_2_item p {
        font-weight: 100;
    }

    .content_2_item .content_2_btn {
        padding: 10px 35px;
        background-color: transparent;
        border: 2px solid black;
        font-size: 17px;
    }

    .content_2_item .content_2_btn:hover {
        cursor: pointer;
        background-color: #10221b;
        color: #fff;
        transition: background-color 0.5s;
        border: 2px solid #10221b;
    }

    .content_3 {
        width: 1200px;
        margin: auto;
        text-align: center;
    }

    .content_3 h1 {
        font-size: 40px;
    }

    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide2 {
        text-align: center;
        font-size: 18px;
        border: 2px solid black;
        text-align: center;
        width: 100px;
        height: 430px;
        margin-right: 25px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide2:hover {
          cursor: pointer;
      }

      .swiper-slide2 img {
        display: block;
        width: 100%;
        height: 70%;
        object-fit: cover;
      }

      .swiper-slide2 p {
          color: #219150;
      }

      .content_4 {
          text-align: center;
          background-color: #eee;
          margin-top: 150px;
          padding: 40px 150px 40px 150px;
      }

      .content_4 h2 {
          font-size: 40px;
      }

      .content_4_wrapper {
          display: grid;
          grid-template-columns: repeat(3, 404px);
          grid-template-rows: repeat(2, 490px);
          gap: 20px;
          width: 1200px;
      }

      .content_4_item {
        border: 2px solid black;
        padding: 20px;
        border-radius: 6px;
        background-color: #fff;
      }

      .content_4_item p {
          line-height: 30px;
      }

      .content_4_item h3 {
          font-size: 20px;
      }

      .content_4_item span {
        color: #219150;
        display: block;
        margin-bottom: 15px;
        font-size: 20px;
    }

      .content_4_item img {
          width: 100%;
          height: 50%;
          border-radius: 6px;
          object-fit: cover;
      }

      .content_4_btn, .content_6_btn {
        padding: 10px 35px;
        background-color: transparent;
        border: 2px solid black;
        font-size: 17px;
    }

    .content_4_item:hover, .content_4_btn {
        color: #fff;
        border: 2px solid white;
    }

    .content_4_item:hover {
        background-color: #10221b;
        color: #fff;
        transition: background-color 0.5s;
        border: 2px solid #10221b;
    }

    .content_4_item:hover .content_4_btn:hover {

        cursor: pointer;
        background-color: white;
        color: black;
        transition: background-color 0.5s;
        border: 2px solid white;
    }

    .content_5 {
        width: 1252px;
        height: 400px;
        padding: 0 138px;
        text-align: center;
    }

    .content_5 h2 {
        font-size: 40px;
        margin: 50px 0 0 0;
    }

    .comment_box {
        background-color: #eee;
        position: relative;
        padding: 10px;
        color: black;
        border-radius: 7px;

    }

    .comment_box::after {
        content: "";
        position: absolute;
        height: 30px;
        width: 50px;
        bottom: -25px;
        right: 87%;
        background-color: #eee;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
    }

    .comment_box p {
        font-weight: 100;
        font-style: italic;
        font-size: 17px;
        line-height: 30px;
        color: #10221b;
    }

    .comment_img {
        width: 75px;
        height: 75px;     
    }

    .comment_profile {
        position: absolute;
        left: 2%;
        top: 85%;
        display: flex;
        flex-direction: row;
    }

    .profile_text {
        margin: 18px 0 0 10px;
        line-height: 25px;
    }

    .comment_profile p,h4 {
        margin: 0;
    }

    .comment_profile img {
        border-radius: 180px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide3 {
        text-align: center;
        font-size: 18px;
        text-align: center;
        position: relative;
        height: 380px;
        width: 350px;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide3:hover {
          cursor: grabbing;
      }

      .content_6 {
        text-align: center;
        background-color: #eee;
        margin-top: 150px;
        padding: 40px 150px 40px 150px;
      }

      .content_6 h2 {
        font-size: 40px;
    }

      .content_6_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 390px);
        grid-template-rows: repeat(2, 340px);
        gap: 20px;
        width: 1200px;
    }

    .content_6_item {
      border: 2px solid black;
      padding: 20px;
      border-radius: 6px;
      background-color: #fff;
      justify-content: center;
    }

    .content_6_item p {
        line-height: 30px;
    }

    .content_6_item h3 {
        font-size: 20px;
        color: #219150;
    }

    .content_6_item i {
        font-size: 100px;
    }

  .content_6_item:hover .content_6_btn {
    color: white;
    border: 2px solid white;
  }

  .content_6:hover .content_6 i {
    color: #fff;
  }

  .content_6_item:hover {
    background-color: #10221b;
    color: #fff;
    transition: background-color 0.5s;
    border: 2px solid #10221b;
  }

  .content_6_item:hover .content_6_btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.5s;
    border: 2px solid white;
  }

  .content_7 {
    width: 1252px;
    height: 460px;
    padding: 0 138px;
    text-align: center;
    justify-content: center;
}

.content_7 h3 {
    margin: 0;
}

.content_7 h2 {
    font-size: 40px;
    margin: 50px 0;
}

  .content_7_item {
    margin: 40px 0;
    width: 370px;
    height: 250px;
    position: relative;
 }

 .content_7_item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
 }

 .img_label {
     position: absolute;
     top: 215px;
     background-color: #10221b;
     padding: 15px;
     display: flex;
     border-radius: 7px;
     justify-content: space-between;
     color: white;
     font-size: 16px;
     width: 246px;
 }

 .img_label i {
     color: #219150;
     margin-right: 4px;
 }

  .swiper-slide4 {
    text-align: center;
    font-size: 18px;
    text-align: center;
    position: relative;
    height: 380px;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide4:hover {
    cursor: grabbing;
}


.content_7 .content_7_btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 2px solid black;
    font-size: 17px;
}

.content_7 .content_7_btn:hover {
    cursor: pointer;
    background-color: #10221b;
    color: #fff;
    transition: background-color 0.5s;
    border: 2px solid #10221b;
}


.content_8 {
    background-color: #eee;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}

.content_8 h1 {
    font-size: 40px;
}

.content_8 p {
    width: 750px;
    margin: auto;
    line-height: 30px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    

.search-wrapper {
    width: 650px;
    margin: 50px auto 50px auto;
    border-radius: 40px;
    border: 2px solid #10221b;
    padding: 10px;
    background-color: #fff;
}


.search-wrapper input {
    padding-left: 20px;
    width: 330px;
    height: 30px;
    padding: 10px 5px;
    float: left;   
    border: 0;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 500;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
}

.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 50px;
    width: 150px;
    color: #fff;
    background: #10221b;
    border-radius: 40px;
    font-size: 18px;
}  

.search-wrapper button:hover{    
    background: white;
    border: 2px solid #10221b;
    color: #10221b;
    transition: background-color 0.5s;
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #10221b;
    outline: 0;  
}  


.content_9 {
    height: 124px;
    padding: 50px 138px;
}

.swiper-slide5 {
    width: 280px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide5:hover {
    cursor: pointer;
}

.swiper-slide5:hover {
    cursor: grabbing;
}

.swiper-slide5 img {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/images/footer-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 396px;
    padding: 50px 138px;
    color: #fff;
    text-align: center;
}

.footer span {
    color: #219150;
}

.footer p {
    margin-top: 50px;
    font-size: 23px;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    text-align:left ;
}

.footer_item li{
    list-style: none;
    color: #fff;
}

.footer_item li:hover {
    color: #219150;
    transition: color 0.4s;
    cursor: pointer;
}

#footer_item4 li, #footer_item5 li {
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

#footer_item4 li:hover, #footer_item5 li:hover {
    transform: translateX(15px);
}

#footer_item4 {
    width: 270px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
    line-height: 35px;
}

.footer i {
    color: #219150;
    margin-right: 7px;
}